@font-face {
  font-family: "Suisse Int'l";
  font-weight: 400;
  src: url("../fonts/SuisseIntl-Regular.otf"), url("../fonts/SuisseIntl-Regular.eot"), url("../fonts/SuisseIntl-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-Regular.ttf") format("truetype"), url("../fonts/SuisseIntl-Regular.woff2") format("woff2"), url("../fonts/SuisseIntl-Regular.woff") format("woff"), url("../fonts/SuisseIntl-Regular.svg") format("svg");
}
@font-face {
  font-family: "Suisse Int'l";
  font-weight: 450;
  src: url("../fonts/SuisseIntl-Book.otf"), url("../fonts/SuisseIntl-Book.eot"), url("../fonts/SuisseIntl-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-Book.ttf") format("truetype"), url("../fonts/SuisseIntl-Book.woff2") format("woff2"), url("../fonts/SuisseIntl-Book.woff") format("woff"), url("../fonts/SuisseIntl-Book.svg") format("svg");
}
@font-face {
  font-family: "Suisse Int'l";
  font-weight: 500;
  src: url("../fonts/SuisseIntl-Medium.otf"), url("../fonts/SuisseIntl-Medium.eot"), url("../fonts/SuisseIntl-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-Medium.ttf") format("truetype"), url("../fonts/SuisseIntl-Medium.woff2") format("woff2"), url("../fonts/SuisseIntl-Medium.woff") format("woff"), url("../fonts/SuisseIntl-Medium.svg") format("svg");
}
@font-face {
  font-family: "RF Dewi";
  font-weight: 600;
  src: url("../fonts/RFDewi-Semibold.otf"), url("../fonts/RFDewi-Semibold.eot"), url("../fonts/RFDewi-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/RFDewi-Semibold.ttf") format("truetype"), url("../fonts/RFDewi-Semibold.woff2") format("woff2"), url("../fonts/RFDewi-Semibold.woff") format("woff"), url("../fonts/RFDewi-Semibold.svg") format("svg");
}
@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 600;
  src: url("../fonts/RFDewiCondensed-Semibold.otf"), url("../fonts/RFDewiCondensed-Semibold.eot"), url("../fonts/RFDewiCondensed-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/RFDewiCondensed-Semibold.ttf") format("truetype"), url("../fonts/RFDewiCondensed-Semibold.woff2") format("woff2"), url("../fonts/RFDewiCondensed-Semibold.woff") format("woff"), url("../fonts/RFDewiCondensed-Semibold.svg") format("svg");
}
@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 700;
  src: url("../fonts/RFDewiExtended-Bold.otf"), url("../fonts/RFDewiExtended-Bold.eot"), url("../fonts/RFDewiExtended-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RFDewiExtended-Bold.ttf") format("truetype"), url("../fonts/RFDewiExtended-Bold.woff2") format("woff2"), url("../fonts/RFDewiExtended-Bold.woff") format("woff"), url("../fonts/RFDewiExtended-Bold.svg") format("svg");
}
@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 600;
  src: url("../fonts/RFDewiExtended-Semibold.otf"), url("../fonts/RFDewiExtended-Semibold.eot"), url("../fonts/RFDewiExtended-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/RFDewiExtended-Semibold.ttf") format("truetype"), url("../fonts/RFDewiExtended-Semibold.woff2") format("woff2"), url("../fonts/RFDewiExtended-Semibold.woff") format("woff"), url("../fonts/RFDewiExtended-Semibold.svg") format("svg");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

svg {
  outline: none;
}

body {
  font-family: "Suisse Int'l";
  font-weight: 400;
  font-size: 16px;
  min-width: 320px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}