@import "fonts.scss"
@import "null.scss"
@import "variables.sass"

body
    font-family: "Suisse Int'l"
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: $black
    min-width: 320px
    min-height: 100%
    background-color: $white

.container
    width: 1170px
    margin: 0 auto

.wrapper
    display: flex
    flex-direction: column
    min-height: 100%

.main
    flex: 1 1 auto

// COMPONENTS
.button
    padding: 16px 32px
    font-size: 20px
    line-height: 32px
    border-radius: 100px
    min-width: 180px
    transition: all 0.3s ease
    &.small
        padding: 12px 24px
        font-size: 14px
        font-weight: 450
        line-height: 20px
        border-radius: 100px
        min-width: 120px
        max-height: 44px
    &.primary
        background-color: $turquoise
        color: $white
        @media(any-hover:hover)
        &:hover
            background-color: rgba($turquoise, 0.8)
        &:active
            background-color: rgba($turquoise, 0.8)
        &:disabled
            background-color: rgba($turquoise, 0.5)
    &.secondary
        background-color: $cyan
        color: $white
        @media(any-hover:hover)
        &:hover
            background-color: rgba($cyan, 0.8)
        &:active
            background-color: rgba($cyan, 0.8)
        &:disabled
            background-color: rgba($cyan, 0.5)
    &.tertiary
        color: $blue
        border: 1px solid $blue
        background-color: rgba($blue, 0.04)
        @media(any-hover:hover)
        &:hover
            background-color: rgba($blue, 0.12)
        &:active
            background-color: rgba($blue, 0.12)
        &:disabled
            border: 1px solid rgba($blue, 0.5)
            background-color: rgba($blue, 0.04)
            color: rgba($blue, 0.5)
            svg
                fill-opacity: 0.5
    &.icon-right
        display: flex
        justify-content: center
        align-items: center
        gap: 12px
        padding: 16px 32px 16px 40px
        margin: 0 auto
        &.small
            padding: 12px 20px 12px 24px

.title
    font-family: "RF Dewi"
    font-size: 36px
    font-weight: 600
    line-height: 48px
    letter-spacing: -0.72px

.text-icon
    vertical-align: middle
    &.rotate-180
        transform: rotate(180deg)

.banner
    display: flex
    justify-content: space-between
    align-items: center
    gap: 20px
    padding: 80px 104px
    border-radius: 40px
    border: 1px solid rgba($turquoise, 0.12)
    background-color: rgba($turquoise, 0.08)
    background-image: url('../assets/img/banner/background.svg')
    background-repeat: no-repeat
    background-position: right
    &__title
        margin-bottom: 16px
    &__text
        color: $gray-dark
        margin-bottom: 32px
    .icon-right
        margin: 0

.input
    position: relative
    display: flex
    flex-direction: column
    gap: 4px
    &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 1px
        background-color: rgba($gray-dark, 0.3)
        transition: all 0.3s ease
    @media(any-hover:hover)
        &:hover
            &::after
                background-color: rgba($gray-dark, 0.6)
    &.focused
        &::after
            background-color: $blue
    &__label
        color: $gray-dark
        font-family: "RF Dewi"
        font-weight: 600
    &__field
        position: relative
        font-family: "RF Dewi"
        font-size: 16px
        font-weight: 600
        line-height: 24px
        padding-bottom: 12px
        background-color: transparent
        transition: all 0.3s ease
        caret-color: $blue
        &::placeholder
            color: rgba($gray-dark, 0.4)

.link
    color: $black
    border-radius: 100px
    background-color: rgba($gray-light, 0.4)
    transition: all 0.3s ease
    svg
        transition: all 0.3s ease
    &-chat
        @media(any-hover:hover)
        &:hover
            background-color: rgba($turquoise, 0.12)
            svg
                fill: $turquoise
                fill-opacity: 1
    &-mail
        @media(any-hover:hover)
        &:hover
            background-color: rgba($purple, 0.12)
            svg
                fill: $purple
                fill-opacity: 1
    &-telegram
        @media(any-hover:hover)
        &:hover
            background-color: rgba($cyan, 0.12)
            svg
                fill: $cyan
                fill-opacity: 1

// HEADER
.header
    height: 80px
    padding: 0 40px
    &__body
        display: flex
        justify-content: space-between
        align-items: center
        height: 100%
        .button
            margin-left: 13px

.navigation
    display: flex
    gap: 40px
    &__link
        color: $black
        transition: color 0.3s ease
        @media(any-hover:hover)
        &:hover
            color: $blue

// SECTION-HOME
.home
    margin: 0 16px 16px 16px
    border-radius: 40px
    background-color: rgba($gray-light, 0.4)
    &__body
        position: relative
        max-width: 721px
        padding: 134px 0
        margin: 0 auto
        text-align: center
    &__title
        margin-bottom: 20px
        font-family: "RF Dewi Extended"
        font-size: 72px
        font-weight: 600
        line-height: 80px
        animation: home-body 1s
    &__subtitle
        margin-bottom: 44px
        color: $gray-dark
        font-size: 20px
        line-height: 32px
        animation: home-body 1s
    .button
        animation: home-body 1s

@keyframes home-body
    0%
        transform: translateY(10%)
        opacity: 0
    100%
        transform: translateY(0)
        opacity: 1

.bubble
    position: absolute
    z-index: 50
    &-1
        top: 114px
        left: -142px
        animation: bubble 0.5s 1s both
    &-2
        bottom: 83px
        right: -138px
        animation: bubble 0.5s 3s both
    &-3
        bottom: 95px
        right: -169px
        z-index: 49
        animation: bubble 0.5s 1.5s both
    &-4
        bottom: 107px
        left: -248px
        animation: bubble 0.5s 2.5s both
    &-5
        top: 110px
        right: -235px
        animation: bubble 0.5s 2s both

@keyframes bubble
    0%
        transform: translateY(-10%)
        opacity: 0
    25%
        opacity: 1
        transform: translateY(0)
    50%
        opacity: 1
        transform: translateY(-5%)
    100%
        opacity: 1
        transform: translateY(0)

// SECTION-ADVANTAGES
.advantages
    padding: 72px 0
    &__info
        display: flex
        justify-content: space-between
        gap: 67px
        margin-bottom: 64px
    &__title
        min-width: 535px
    &__text
        max-width: 298px
        line-height: 146%
        color: $gray-dark
        + .advantages__text
            margin-left: 5px
        .text-icon
            margin-right: 3px
    &__cards
        display: flex
        gap: 12px
    &__card
        flex: 1 1 25%
        padding: 20px
        border-radius: 24px
        &:nth-child(1)
            background-color: $blue
        &:nth-child(2)
            background-color: $turquoise
        &:nth-child(3)
            background-color: $cyan
        &:nth-child(4)
            background-color: $purple
    &__card-icon
        margin-bottom: 48px
    &__card-title
        color: $white
        font-family: "RF Dewi Condensed"
        font-size: 24px
        font-weight: 600
        line-height: 28px

// SECTION-PROJECTS
.projects
    padding: 72px 0
    &__body
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &__label
        margin-bottom: 16px
        padding: 12px 24px
        font-size: 14px
        line-height: 24px
        color: $white
        border-radius: 100px
        background-color: $blue
    &__title
        max-width: 586px
        margin-bottom: 16px
        text-align: center
    &__subtitle
        max-width: 463px
        margin-bottom: 64px
        color: $gray-dark
        text-align: center
    &__cards
        display: flex
        flex-wrap: wrap
        gap: 12px
    &__card
        display: flex
        flex-direction: column
        justify-content: space-between
        flex: 1 1 32%
        padding: 20px
        height: 164px
        border-radius: 24px
        border: 0.5px solid $gray-light
        background-color: rgba($gray-light, 0.2)
        background-repeat: no-repeat
        background-position: 117% 37%
        transition: all 0.5s ease-out
        @media(any-hover:hover)
        &:hover
            background-position: 96% 37%
        &:nth-child(1)
            background-image: url('../assets/img/background/up-graph.svg')
        &:nth-child(2)
            background-image: url('../assets/img/background/ball.svg')
        &:nth-child(3)
            background-image: url('../assets/img/background/chip.svg')
        &:nth-child(4)
            background-image: url('../assets/img/background/cart.svg')
        &:nth-child(5)
            background-image: url('../assets/img/background/graduated.svg')
        &:nth-child(6)
            background-image: url('../assets/img/background/telegram.svg')
        &:nth-child(7)
            background-image: url('../assets/img/background/dollar-refresh.svg')
        &:nth-child(8)
            background-image: url('../assets/img/background/bank-cards.svg')
        &:nth-child(9)
            background-image: url('../assets/img/background/chart.svg')
    &__card-number
        display: flex
        align-items: center
        justify-content: center
        // margin-bottom: 40px
        width: 56px
        height: 56px
        font-family: "RF Dewi Extended"
        font-size: 28px
        font-weight: 700
        line-height: 44px
        border-radius: 16px
        background-color: $white
        box-shadow: 0px 21px 34px 0px rgba($black, 0.06)
    &__card-title
        font-family: "RF Dewi Condensed"
        font-size: 24px
        font-weight: 600
        line-height: 28px

// SECTION-NEEDS
.needs
    padding: 72px 0
    &__body
        padding: 40px 56px 56px 56px
        border-radius: 40px
        background-color: $cyan
    &__title
        color: $white
        text-align: center
        margin-bottom: 64px
    &__items
        display: flex
        flex-wrap: wrap
        column-gap: 80px
        row-gap: 48px
    &__item
        flex: 1 1 28%
        padding-top: 8px
    &__item-icon
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 72px
        height: 72px
        margin: 0 auto
        border-radius: 20px
        background-color: $white
        &::after
            content: ''
            position: absolute
            top: 50%
            left: 50%
            width: 74px
            height: 74px
            background-color: rgba($white, 0.2)
            border-radius: 20px
            transform: translate(-50%, -50%) rotate(45deg)
    &__item-title
        margin-top: 24px
        color: $white
        text-align: center

// SECTION-WORK
.work
    padding: 72px 0 144px 0
    &__title
        margin-bottom: 16px
        text-align: center
    &__text
        max-width: 578px
        color: $gray-dark
        text-align: center
        margin: 0 auto 16px
    &__payments
        text-align: center
        margin-bottom: 56px
    &__cards
        display: flex
        align-items: center
        justify-content: center
        gap: 12px
    &__card
        flex: 1 1 50%
        padding: 16px 20px
        border-radius: 24px
        background-repeat: no-repeat
        background-position: top right
        &:first-child
            background-color: $blue
            background-image: url('../assets/img/background/bitcoin.svg')
        &:last-child
            background-color: $turquoise
            background-image: url('../assets/img/background/ruble.svg')
    &__card-title
        margin-bottom: 48px
        color: $white
        font-family: "RF Dewi Condensed"
        font-size: 24px
        font-weight: 600
        line-height: 28px
    &__card-text
        color: $white

// SECTION-EXAMPLE
.example
    padding: 72px
    background-color: rgba($gray-light, 0.2)
    &__title
        margin-bottom: 64px
    &__tabs
        display: flex
        justify-content: space-between
        gap: 24px
        margin-bottom: 40px
    &__tab
        flex: 1 1 25%
        position: relative
        color: $gray-dark
        cursor: pointer
        padding-bottom: 12px
        &::before
            content: ''
            position: absolute
            bottom: 0
            left: 0
            height: 2px
            width: 100%
            background-color: $gray-light
        &.active
            color: $black
            &::before
                background-color: $blue
        &:not(.active)
            &::after
                content: ''
                display: block
                position: absolute
                background: none repeat scroll 0 0 transparent
                bottom: 0
                left: 0
                height: 2px
                width: 0
                background: $blue
                transition: width .5s ease 0s, right .5s ease 0s
        @media(any-hover:hover)
        &:hover
            &:not(.active)
                &::after
                    width: 100%
    &__video
        position: relative
        width: 100%
        height: 553px
        border-radius: 32px
        border: 1px solid rgba($gray-dark, 0.2)
        background-color: rgba($gray-light, 0.5)
    &__video-button
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background-color: transparent
    &__icon-play
        transition: all 0.3s ease
        @media(any-hover:hover)
            &:hover
                transform: scale(1.2)

// SECTION-CONNECTION-BANNER
.connection-banner
    padding: 144px 0 72px
    .banner
        max-height: 440px
    .banner__text
        max-width: 400px
    .button
        min-width: 308px

// SECTION-CHANNELS
.channels
    padding: 72px 0
    &__info
        display: flex
        justify-content: space-between
        margin-bottom: 80px
    &__title
        margin-right: auto
    &__subtitle
        display: block
        margin-top: 12px
    &__texts
        display: flex
        justify-content: flex-end
        gap: 32px
    &__text
        padding-top: 8px
        max-width: 262px
        color: $gray-dark
    &__cards
        display: flex
        flex-wrap: wrap
        column-gap: 12px
        row-gap: 24px
    &__card
        position: relative
        flex: 1 1 32%
        padding: 24px 20px 16px 20px
        border-radius: 24px
        background-color: $gray-light
        &:nth-child(1)
            background-color: $blue
        &:nth-child(2)
            background-color: $cyan
        &:nth-child(3)
            background-color: $turquoise
        &:nth-child(4)
            background-color: $turquoise
        &:nth-child(5)
            background-color: $purple
        &:nth-child(6)
            background-color: $blue
            .channels__card-items
                flex-direction: row
            .channels__card-item
                min-width: 124px
    &__card-title
        margin-bottom: 32px
        color: $white
        font-family: "RF Dewi Condensed"
        font-size: 28px
        font-weight: 600
        line-height: 32px
        letter-spacing: -0.56px
    &__card-items
        display: flex
        flex-wrap: wrap
        flex-direction: column
        gap: 16px
    &__card-subtitle
        color: $white
        font-family: "RF Dewi Condensed"
        font-size: 20px
        font-weight: 600
        line-height: 28px
    &__card-value
        display: flex
        gap: 16px
        color: rgba($white, 0.7)
        font-size: 14px
    &__card-icon
        position: absolute
        z-index: 3
        top: -16px
        left: 20px
        &.icon-2
            left: 43px
            z-index: 2
        &.icon-3
            left: 66px
            z-index: 1

// SECTION-PAYMENTS
.payments
    padding: 72px
    &__info
        display: flex
        justify-content: space-between
        margin-bottom: 72px
    &__subtitle
        display: block
        margin-top: 12px
    &__text
        padding-top: 8px
        margin-right: 92px
        max-width: 290px
        color: $gray-dark
    &__table
        display: flex
        gap: 12px
    &__column
        flex: 1 1 32%
        display: flex
        flex-direction: column
        gap: 12px
        &:nth-child(1)
            .payments__item:nth-child(3)
                height: 196px
        &:nth-child(2)
            .payments__item:nth-child(1)
                height: 196px
        &:nth-child(3)
            .payments__item:nth-child(2)
                height: 352px
    &__item
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 144px
        padding: 20px
        border-radius: 24px
        border: 0.5px solid $gray-light
        background-color: rgba($gray-light, 0.2)
    &__systems
        display: flex
        flex-direction: column
        gap: 20px
    &__row
        display: flex
        align-items: center
        gap: 16px
        font-family: "RF Dewi"
        font-weight: 600
    &__row-values
        display: flex
        flex-direction: column
        gap: 4px
    &__row-value
        display: flex
        gap: 8px
        font-size: 14px
        font-weight: 400
        line-height: 20px
        font-family: "Suisse Int'l"
    &__row-title
        color: $gray-dark

// SECTION-CONFIDENCE-BANNER
.confidence-banner
    padding: 72px 0
    .banner
        max-height: 464px
    .banner__text
        display: flex
        flex-direction: column
        gap: 24px
    .banner__paragraph:nth-child(1)
        max-width: 564px
    .banner__paragraph:nth-child(2)
        max-width: 478px

// SECTION-PARTNERS
.partners
    padding: 72px 0
    &__title
        margin-bottom: 16px
        text-align: center
    &__text
        margin-bottom: 64px
        color: $gray-dark
        text-align: center
    &__table
        display: flex
        gap: 12px
    &__cards
        flex: 1 1 67%
        display: flex
        flex-wrap: wrap
        gap: 12px
    &__statistics
        flex: 1 1 33%
        display: flex
        flex-direction: column
        gap: 12px
    &__card
        flex: 1 1 32%
        display: flex
        align-items: center
        justify-content: center
        height: 112px
        border-radius: 20px
        border: 0.5px solid $gray-light
        background-color: rgba($gray-light, 0.2)
    &__statistics-item
        padding: 20px
        border-radius: 24px
        &:nth-child(1)
            background-color: $blue
        &:nth-child(2)
            background-color: $turquoise
    &__statistics-icon
        margin-bottom: 32px
    &__statistics-info
        color: $white
    &__statistics-percent
        margin-top: 24px
        color: $white
        font-family: "RF Dewi Condensed"
        font-size: 112px
        font-weight: 600
        line-height: 100%

// SECTION-SUPPORT
.support
    padding: 72px 0 144px
    &__body
        display: flex
        align-items: flex-start
        justify-content: space-between
        gap: 64px
    &__title
        margin-bottom: 16px
        max-width: 466px
    &__subtitle
        margin-bottom: 24px
        max-width: 313px
        color: $gray-dark
    &__links
        display: flex
        gap: 8px
    &__link
        display: flex
        align-items: center
        gap: 10px
        padding: 8px 16px 8px 12px
    &__suggestions
        display: flex
        flex-direction: column
        gap: 16px
    &__suggestion
        display: flex
        min-width: 553px
        max-height: 104px
        gap: 20px
        padding: 16px 24px 16px 16px
        border-radius: 24px
        border: 0.5px solid $gray-light
        background-color: rgba($gray-light, 0.2)
        &:nth-child(1)
            .support__suggestion-icon
                background-color: $cyan
        &:nth-child(2)
            .support__suggestion-icon
                background-color: $turquoise
    &__suggestion-icon
        display: flex
        width: 72px
        height: 72px
        padding: 16px
        justify-content: center
        align-items: center
        border-radius: 20px
    &__suggestion-text
        color: $gray-dark
        max-width: 421px

// SECTION-APPLICATION
.application
    padding: 72px 0
    background-color: $blue
    &__body
        display: flex
        align-items: flex-start
        justify-content: space-between
        padding: 80px 104px
        border-radius: 40px
        background-color: $white
        box-shadow: 0px 6px 34px 0px rgba($black, 0.12)
        background-image: url('../assets/img/background/spiral.svg')
        background-repeat: no-repeat
        background-position: 16px 0
    &__info
        max-width: 322px
    &__form
        max-width: 400px
        .icon-right
            margin: 0
    &__title
        margin-bottom: 16px
    &__subtitle
        color: $gray-dark
        display: flex
        flex-direction: column
        gap: 12px
        margin-bottom: 98px
    &__links
        display: inline-flex
        flex-direction: column
        gap: 8px
    &__link
        display: flex
        align-items: center
        gap: 10px
        padding: 8px 16px 8px 12px
    &__groups
        display: flex
        flex-direction: column
        gap: 32px
        margin-bottom: 40px
    &__agreement
        margin-top: 16px
        color: $gray-dark
        font-size: 12px
        line-height: 18px
        max-width: 372px

// FOOTER
.footer
    padding: 56px 0
    &__body
        display: flex
        align-items: flex-start
        justify-content: space-between
    &__info
        padding-right: 56px
    &__copy
        margin-top: 64px
        font-size: 14px
        line-height: 20px
    &__navigation
        display: flex
        gap: 56px
    &__navigation-list
        display: flex
        flex-direction: column
        gap: 12px
        &:nth-child(1)
            min-width: 156px
        &:nth-child(2)
            min-width: 264px
    &__navigation-item
        font-size: 14px
        line-height: 20px
    &__navigation-link
        position: relative
        display: inline-block
        color: $black
        transition: all 0.3s ease
        @media(any-hover:hover)
        &:hover
            color: $blue
            .footer__navigation-icon
                opacity: 1
                visibility: visible
                right: -30px
    &__navigation-icon
        position: absolute
        right: -25px
        opacity: 0
        visibility: hidden
        pointer-events: none
        transition: all 0.3s ease
    &__buttons
        .button
            min-width: 218px

.socials
    display: flex
    justify-content: flex-end
    gap: 8px
    margin-bottom: 28px
    &__link
        display: flex
        align-items: center
        justify-content: center
        width: 44px
        height: 44px
        background-color: rgba($gray-light, 0.3)