@import "fonts.scss"
@import "null.scss"
@import "variables.sass"

body
    font-family: "Suisse Int'l"
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: $black
    min-width: 320px
    min-height: 100%
    background-color: $white

br
    display: none

.container
    width: 1170px
    margin: 0 auto

.wrapper
    display: flex
    flex-direction: column
    min-height: 100%

.main
    flex: 1 1 auto

.anim
    opacity: 0

@media(max-width: 1279px)
    .container
        width: 912px

@media(max-width: 1023px)
    .container
        width: 100%
        padding: 0 16px

@media(max-width: 767px)
    .main
        overflow: hidden

// COMPONENTS
.button
    position: relative
    padding: 16px 32px
    font-size: 20px
    line-height: 32px
    border-radius: 100px
    min-width: 180px
    transition: all 0.3s ease
    overflow: hidden
    &.small
        padding: 12px 24px
        font-size: 14px
        font-weight: 450
        line-height: 20px
        border-radius: 100px
        min-width: 120px
        max-height: 44px
    &.primary
        background-color: $turquoise
        color: $white
        @media(any-hover:hover)
            &:hover
                background-color: rgba($turquoise, 0.8)
        &:active
            background-color: rgba($turquoise, 0.8)
        &:disabled
            background-color: rgba($turquoise, 0.5)
    &.secondary
        background-color: $cyan
        color: $white
        @media(any-hover:hover)
            &:hover
                background-color: rgba($cyan, 0.8)
        &:active
            background-color: rgba($cyan, 0.8)
        &:disabled
            background-color: rgba($cyan, 0.5)
    &.tertiary
        color: $blue
        border: 1px solid $blue
        background-color: rgba($blue, 0.04)
        @media(any-hover:hover)
            &:hover
                background-color: rgba($blue, 0.12)
        &:active
            background-color: rgba($blue, 0.12)
        &:disabled
            border: 1px solid rgba($blue, 0.5)
            background-color: rgba($blue, 0.04)
            color: rgba($blue, 0.5)
            svg
                fill-opacity: 0.5
    &.icon-right
        display: flex
        justify-content: center
        align-items: center
        gap: 12px
        padding: 16px 32px 16px 40px
        margin: 0 auto
        &.small
            padding: 12px 20px 12px 24px
        @media(any-hover:hover)
            &:hover svg
                animation: shake 0.3s linear both
    &.flare
        &::after
            content: ''
            position: absolute
            top: 0
            left: -200%
            height: 100%
            width: 36px
            transform: skewX(-45deg)
            background: rgba($white, 0.4)
            filter: blur(11px)
            animation: flare 2.4s 3.5s infinite linear
            pointer-events: none

.title
    font-family: "RF Dewi"
    font-size: 36px
    font-weight: 600
    line-height: 48px
    letter-spacing: -0.72px

.banner
    display: flex
    justify-content: space-between
    align-items: center
    gap: 20px
    padding: 80px 104px
    border-radius: 40px
    outline: 1px solid rgba($turquoise, 0.12)
    background-color: rgba($turquoise, 0.08)
    background-image: url('../assets/img/banner/background.svg')
    background-repeat: no-repeat
    background-position: 114% 77%
    &.animated
        animation: bottom-top 0.8s both
    &__title
        margin-bottom: 16px
        &.animated
            animation: bottom-top 0.8s both
    &__text
        color: $gray-dark
        margin-bottom: 32px
        &.animated
            animation: bottom-top 0.8s both
    &__image
        &.animated
            animation: bottom-top 0.8s both
    .icon-right
        margin: 0

.input
    position: relative
    display: flex
    flex-direction: column
    gap: 4px
    &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 1px
        background-color: rgba($gray-dark, 0.3)
        transition: all 0.3s ease
    @media(any-hover:hover)
        &:hover
            &::after
                background-color: rgba($gray-dark, 0.6)
    &.focused
        &::after
            background-color: $blue
    &__label
        color: $gray-dark
        font-family: "RF Dewi"
        font-weight: 600
    &__field
        position: relative
        font-family: "RF Dewi"
        font-size: 16px
        font-weight: 600
        line-height: 24px
        padding-bottom: 12px
        background-color: transparent
        transition: all 0.3s ease
        caret-color: $blue
        &::placeholder
            color: rgba($gray-dark, 0.4)

.link
    color: $black
    border-radius: 100px
    background-color: rgba($gray-light, 0.4)
    transition: all 0.3s ease
    svg
        transition: all 0.3s ease
    &-chat
        @media(any-hover:hover)
            &:hover
                background-color: rgba($turquoise, 0.12)
                svg
                    fill: $turquoise
                    fill-opacity: 1
    &-mail
        @media(any-hover:hover)
            &:hover
                background-color: rgba($purple, 0.12)
                svg
                    fill: $purple
                    fill-opacity: 1
    &-telegram
        @media(any-hover:hover)
            &:hover
                background-color: rgba($cyan, 0.12)
                svg
                    fill: $cyan
                    fill-opacity: 1

.spinner-wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.spinner
    animation: rotation 1s linear infinite

@media(max-width: 1279px)
    .banner
        padding: 48px
        background-position: -70% 80%

@media(max-width: 1023px)
    .banner
        flex-direction: column-reverse
        padding: 24px 24px 32px 24px
        gap: 0
        background-position: 73% 70%
        &__info
            text-align: center
        &__text
            margin: 0 auto 32px
        &__image
            img
                width: 200px
                height: 200px
        .icon-right
            margin: 0 auto
    .input__label
        max-width: 420px

@media(max-width: 767px)
    .title
        font-size: 24px
        line-height: 32px
        letter-spacing: -0.48px
    .banner
        padding: 16px
        background-position: 74% 56%
        &__title
            margin-top: 8px
        &__image
            img
                width: 172px
                height: 172px
        &__text
            font-size: 14px
            line-height: 20px
    .input__label
        max-width: 100%

// HEADER
.header
    z-index: 999
    height: 80px
    padding: 0 40px
    background-color: $white
    width: 100%
    &__body
        display: flex
        justify-content: space-between
        align-items: center
        height: 100%
        .login
            margin-left: 13px

.navigation
    &__list
        display: flex
        gap: 40px
    &__link
        color: $black
        transition: color 0.3s ease
        @media(any-hover:hover)
            &:hover
                color: $blue
    &__button
        display: none

.burger
    display: none

@media(max-width: 1023px)
    .header
        &.scroll
            position: fixed
            box-shadow: 0px 21px 34px 0px rgba($black, 0.06)
    .navigation
        position: absolute
        z-index: 99
        top: 60px
        right: 0
        opacity: 0
        visibility: hidden
        pointer-events: none
        min-width: 152px
        border-radius: 24px
        border: 1px solid rgba($gray-light, 0.4)
        background-color: $white
        box-shadow: 0px 21px 34px 0px rgba(0, 0, 0, 0.06)
        transition: all 0.3s ease
        &.open
            top: 64px
            right: 16px
            opacity: 1
            visibility: visible
            pointer-events: all
        &__list
            flex-direction: column
            align-items: center
            padding: 24px 32px
            gap: 28px
        &__item
            min-width: 152px
            text-align: center
    .burger
        display: block
        background-color: transparent
        &__close
            display: none
        &.open
            .burger__close
                display: block
            .burger__menu
                display: none
    .header
        height: 64px
        padding: 0 32px
        .login
            margin-left: auto
            margin-right: 24px

@media(max-width: 767px)
    .navigation
        &.open
            top: 56px
            right: 8px
        &__button
            display: block
            > .login
                min-width: 100%
    .header
        padding: 0 20px
        &__body > .login
            display: none

// SECTION-HOME
.home
    margin: 0 16px 16px 16px
    border-radius: 40px
    background-color: rgba($gray-light, 0.4)
    &__body
        position: relative
        max-width: 721px
        padding: 134px 0
        margin: 0 auto
        text-align: center
    &__title
        margin-bottom: 20px
        font-family: "RF Dewi Extended"
        font-size: 72px
        font-weight: 600
        line-height: 80px
        &.animated
            animation: bottom-top 0.6s both
    &__subtitle
        margin-bottom: 44px
        color: $gray-dark
        font-size: 20px
        line-height: 32px
        &.animated
            animation: bottom-top 0.6s both
    &__text-icon
        position: relative
        display: inline-block
        padding-right: 33px
        &::after
            position: absolute
            top: 4px
            right: 0
            width: 27px
            height: 27px
        &.icon-lightning
            &::after
                content: url(../assets/img/lightning.svg)
        &.icon-shield
            &::after
                content: url(../assets/img/shield.svg)
    .button
        &.animated
            animation: bottom-top 0.6s both

.bubble
    position: absolute
    z-index: 50
    &-1
        top: 114px
        left: -142px
        &.animated
            animation: bubble 0.6s 0.8s both
    &-2
        bottom: 139px
        right: -104px
        filter: drop-shadow(0px 21px 34px rgba(0, 0, 0, 0.06))
        &.animated
            animation: bubble 0.6s 4s both
    &-3
        bottom: 95px
        right: -169px
        z-index: 49
        &.animated
            animation: bubble 0.6s 1.6s both
    &-4
        bottom: 107px
        left: -183px
        &.animated
            animation: bubble 0.6s 3.2s both
    &-5
        top: 109px
        right: -235px
        &.animated
            animation: bubble 0.6s 2.4s both

@media(max-width: 1279px)
    .bubble
        &-1
            top: 58px
            left: -57px
        &-2
            bottom: 134px
            right: 11px
        &-3
            bottom: 91px
            right: -56px
        &-4
            bottom: 74px
            left: -67px
        &-5
            top: 104px
            right: -85px

@media(max-width: 1023px)
    .home
        &__body
            padding: 209px 0
        &__title
            font-size: 64px
            line-height: 72px
    .bubble
        &-1
            top: 112px
            left: 43px
        &-2
            bottom: 111px
            right: 101px
        &-3
            bottom: 68px
            right: 36px
        &-4
            bottom: 48px
            left: 31px
        &-5
            top: 54px
            right: 38px

@media(max-width: 767px)
    .home
        margin: 0 8px 16px 8px
        &__body
            padding: 108px 0 106px
        &__title
            font-size: 36px
            line-height: 44px
        &__subtitle
            font-size: 16px
            line-height: 24px
            margin-bottom: 24px
        &__text-icon
            padding-right: 33px
            &::after
                top: 0
                right: 0
            &.icon-lightning
                padding-right: 37px
                &::after
                    right: 5px
    .bubble
        &-1
            width: 125px
            height: 66px
            top: 34px
            left: -31px
            &.animated
                animation: bubble 0.6s 0.8s both
        &-2
            width: 117px
            height: 66px
            bottom: -15px
            right: -34px
            &.animated
                animation: bubble 0.6s 3.2s both
        &-3
            display: none
        &-4
            width: 174px
            height: 66px
            bottom: 19px
            left: -30px
            &.animated
                animation: bubble 0.6s 2.4s both
        &-5
            width: 182px
            height: 66px
            top: 11px
            right: -47px
            &.animated
                animation: bubble 0.6s 1.6s both

@media(min-width: 1920px)
    .bubble
        &-1
            left: calc(-142px - 15%)
        &-2
            right: calc(-138px - 15%)
        &-3
            right: calc(-169px - 15%)
        &-4
            left: calc(-248px - 15%)
        &-5
            right: calc(-235px - 15%)

// SECTION-ADVANTAGES
.advantages
    padding: 72px 0
    &__info
        display: flex
        justify-content: space-between
        gap: 67px
        margin-bottom: 64px
    &__title
        min-width: 535px
        &.animated
            animation: bottom-top 0.8s both
    &__text
        max-width: 298px
        line-height: 24px
        color: $gray-dark
        &.animated
            animation: bottom-top 0.8s both
        + .advantages__text
            margin-left: 5px
    &__text-icon
        position: relative
        display: inline-block
        padding-right: 30px
        &::after
            position: absolute
            top: 1px
            right: 1px
            width: 24px
            height: 24px
        &.icon-computer
            &::after
                content: url(../assets/img/computer.svg)
        &.icon-phone
            &::after
                content: url(../assets/img/phone.svg)
        &.icon-circle-arrow
            &::after
                content: url(../assets/img/circle-arrow.svg)
        &.rotate
            &::after
                transform: rotate(180deg)
    &__cards
        display: flex
        gap: 12px
    &__card
        flex: 1 1 25%
        padding: 20px
        border-radius: 24px
        &.animated
            animation: bottom-top 0.8s both
        &:nth-child(1)
            background-color: $blue
        &:nth-child(2)
            background-color: $turquoise
        &:nth-child(3)
            background-color: $cyan
        &:nth-child(4)
            background-color: $purple
    &__card-icon
        margin-bottom: 48px
    &__card-title
        color: $white
        font-family: "RF Dewi Condensed"
        font-size: 24px
        font-weight: 600
        line-height: 28px

@media(max-width: 1279px)
    .advantages
        padding: 64px 0
        &__info
            flex-direction: column
            align-items: center
            gap: 0
        &__title
            text-align: center
            max-width: 556px
            margin-bottom: 32px
        &__text
            max-width: 600px
            text-align: center
            + .advantages__text
                margin-left: 0
                margin-top: 25px
        &__card
            display: flex
            flex-direction: column
            align-items: flex-start
            min-height: 200px
            justify-content: space-between
        &__card-icon
            flex: 0 0 56px
            max-height: 56px
            margin-bottom: 0

@media(max-width: 1023px)
    .advantages
        padding: 40px 0
        &__info
            margin-bottom: 48px
        &__cards
            flex-wrap: wrap
        &__card
            flex: 1 1 49%
            min-height: 164px

@media(max-width: 767px)
    .advantages
        &__info
            margin-bottom: 32px
            padding: 0 16px
        &__title
            max-width: none
            min-width: auto
        &__text
            font-size: 14px
            line-height: 20px
            + .advantages__text
                margin-top: 20px
        &__text-icon
            padding-right: 27px
            &::after
                top: -1px
            &.icon-circle-arrow
                top: 0
                &:not(.rotate)
                    padding-right: 0
                    &::after
                        right: -29px
        &__card
            min-height: 180px

// SECTION-PROJECTS
.projects
    padding: 72px 0
    &__body
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &__label
        margin-bottom: 16px
        padding: 12px 24px
        font-size: 14px
        line-height: 24px
        color: $white
        border-radius: 100px
        background-color: $blue
        &.animated
            animation: bottom-top 0.8s both
    &__title
        max-width: 586px
        margin-bottom: 16px
        text-align: center
        &.animated
            animation: bottom-top 0.8s both
    &__subtitle
        max-width: 463px
        margin-bottom: 64px
        color: $gray-dark
        text-align: center
        &.animated
            animation: bottom-top 0.8s both
    &__cards
        display: flex
        flex-wrap: wrap
        gap: 12px
    &__card
        display: flex
        flex-direction: column
        justify-content: space-between
        flex: 1 1 32%
        padding: 20px
        height: 164px
        border-radius: 24px
        border: 0.5px solid $gray-light
        background-color: rgba($gray-light, 0.2)
        background-repeat: no-repeat
        background-position: 117% 37%
        transition: all 0.5s ease-out
        &.animated
            animation: bottom-top 0.8s both
        &:nth-child(1)
            background-image: url('../assets/img/background/up-graph.svg')
        &:nth-child(2)
            background-image: url('../assets/img/background/ball.svg')
        &:nth-child(3)
            background-image: url('../assets/img/background/chip.svg')
        &:nth-child(4)
            background-image: url('../assets/img/background/cart.svg')
        &:nth-child(5)
            background-image: url('../assets/img/background/graduated.svg')
        &:nth-child(6)
            background-image: url('../assets/img/background/telegram.svg')
        &:nth-child(7)
            background-image: url('../assets/img/background/dollar-refresh.svg')
        &:nth-child(8)
            background-image: url('../assets/img/background/bank-cards.svg')
        &:nth-child(9)
            background-image: url('../assets/img/background/chart.svg')
        @media(any-hover:hover)
            &:hover
                background-position: 96% 37%
    &__card-number
        display: flex
        align-items: center
        justify-content: center
        // margin-bottom: 40px
        width: 56px
        height: 56px
        font-family: "RF Dewi Extended"
        font-size: 28px
        font-weight: 700
        line-height: 44px
        border-radius: 16px
        background-color: $white
        box-shadow: 0px 21px 34px 0px rgba($black, 0.06)
    &__card-title
        font-family: "RF Dewi Condensed"
        font-size: 24px
        font-weight: 600
        line-height: 28px

@media(max-width: 1279px)
    .projects
        padding: 64px 0
        &__card
            background-position: 127% 37%

@media(max-width: 1023px)
    .projects
        padding: 40px 0
        &__subtitle
            margin-bottom: 48px
        &__card
            background-position: 127% 37%

@media(max-width: 860px)
    .projects
        &__card
            background-position: 144% 37%

@media(max-width: 767px)
    .projects
        &__subtitle
            font-size: 14px
            line-height: 20px
            margin-bottom: 32px
        &__cards
            justify-content: center
        &__card
            flex: 0 1 49%
            gap: 12px
        &__card-title
            font-size: 20px
        &__card
            background-position: 117% 37%

@media(max-width: 640px)
    .projects
        &__card
            flex: 0 1 45%
            background-position: 136% 37%

@media(max-width: 576px)
    .projects
        &__card
            background-position: 146% 37%

@media(max-width: 480px)
    .projects
        &__card
            flex: 1 1 100%
            background-position: 115% 37%

@media(max-width: 360px)
    .projects
        &__title
            max-width: 240px
        &__subtitle
            max-width: 260px
        &__card
            background-position: 128% 37%

// SECTION-NEEDS
.needs
    padding: 72px 0
    &__body
        padding: 40px 56px 56px 56px
        border-radius: 40px
        background-color: $cyan
    &__title
        color: $white
        text-align: center
        margin-bottom: 64px
        &.animated
            animation: bottom-top 0.8s both
    &__items
        display: flex
        flex-wrap: wrap
        column-gap: 80px
        row-gap: 48px
    &__item
        flex: 1 1 28%
        padding-top: 8px
        @media(any-hover:hover)
            &:hover
                .needs__item-icon
                    transform: scale(1.1)
                    &::after
                        transform: translate(-50%, -50%) rotate(-45deg)
        &.animated
            animation: bottom-top 0.8s both
    &__item-icon
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 72px
        height: 72px
        margin: 0 auto
        border-radius: 20px
        background-color: $white
        transition: all 0.3s ease
        &::after
            content: ''
            position: absolute
            top: 50%
            left: 50%
            width: 74px
            height: 74px
            background-color: rgba($white, 0.2)
            border-radius: 20px
            transform: translate(-50%, -50%) rotate(45deg)
            transition: all 0.3s ease
    &__item-title
        margin-top: 24px
        color: $white
        text-align: center

@media(max-width: 1279px)
    .needs
        padding: 64px 0
        &__item
            flex: 1 1 18%

@media(max-width: 1023px)
    .needs
        padding: 40px 0
        &__body
            padding: 40px 24px 56px
        &__title
            margin-bottom: 48px
        &__items
            column-gap: 32px
        &__item
            flex: 1 1 25%

@media(max-width: 767px)
    .needs
        padding: 8px 0 32px
        &__body
            padding: 40px 16px 56px 16px
        &__items
            justify-content: center
            row-gap: 40px
        &__item
            flex: 0 1 45%

@media(max-width: 480px)
    .needs
        &__title
            margin: 0 auto 32px
        &__item
            flex: 1 1 100%

@media(max-width: 360px)
    .needs
        &__title
            max-width: 200px

// SECTION-WORK
.work
    padding: 72px 0 144px 0
    &__title
        margin-bottom: 16px
        text-align: center
        &.animated
            animation: bottom-top 0.8s both
    &__text
        max-width: 578px
        color: $gray-dark
        text-align: center
        margin: 0 auto 16px
        &.animated
            animation: bottom-top 0.8s both
    &__payments
        text-align: center
        margin-bottom: 56px
        &.animated
            animation: bottom-top-long 0.8s both
    &__cards
        display: flex
        align-items: center
        justify-content: center
        gap: 12px
    &__card
        flex: 1 1 50%
        padding: 16px 20px
        border-radius: 24px
        background-repeat: no-repeat
        background-position: top right
        &.animated
            animation: bottom-top 0.8s both
        &:first-child
            background-color: $blue
            background-image: url('../assets/img/background/bitcoin.svg')
        &:last-child
            background-color: $turquoise
            background-image: url('../assets/img/background/ruble.svg')
    &__card-title
        margin-bottom: 48px
        color: $white
        font-family: "RF Dewi Condensed"
        font-size: 24px
        font-weight: 600
        line-height: 28px
    &__card-text
        color: $white

@media(max-width: 1279px)
    .work
        padding: 64px 0

@media(max-width: 1023px)
    .work
        padding: 40px 0 80px 0
        &__payments
            margin-bottom: 48px
        &__card
            display: flex
            flex-direction: column
            justify-content: space-between
            min-height: 156px
        &__card-title
            margin-bottom: 0

@media(max-width: 767px)
    .work
        padding: 32px 0
        &__text
            font-size: 14px
            line-height: 20px
        &__payments
            margin-bottom: 32px
        &__cards
            flex-direction: column
        &__card
            flex: 1 1 100%
            min-height: auto
            width: 100%
        &__card-title
            margin-bottom: 48px

// SECTION-EXAMPLE
.example
    padding: 72px 0
    background-color: rgba($gray-light, 0.2)
    &__title
        margin-bottom: 64px
        &.animated
            animation: bottom-top 0.8s both
    &__tabs
        display: flex
        justify-content: space-between
        gap: 24px
        margin-bottom: 40px
        &.animated
            animation: bottom-top 0.8s both
    &__tab
        flex: 1 1 25%
        position: relative
        &.active
            .example__tab-button
                color: $black
                &::before
                    background-color: $blue
        &:not(.active)
            .example__tab-button
                &::after
                    content: ''
                    display: block
                    position: absolute
                    background: none repeat scroll 0 0 transparent
                    bottom: 0
                    left: 0
                    height: 2px
                    width: 0
                    background: $blue
                    transition: width .5s ease 0s, right .5s ease 0s
    &__tab-button
        position: relative
        color: $gray-dark
        cursor: pointer
        padding-bottom: 12px
        &::before
            content: ''
            position: absolute
            bottom: 0
            left: 0
            height: 2px
            width: 100%
            background-color: $gray-light
        @media(any-hover:hover)
            &:hover
                &:not(.active)
                    &::after
                        width: 100%
    &__tab-video
        display: none
    &__video
        position: relative
        width: 100%
        height: 553px
        border-radius: 32px
        border: 1px solid rgba($gray-dark, 0.2)
        background-color: rgba($gray-light, 0.5)
        &.animated
            animation: bottom-top 0.8s both
    &__video-button
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background-color: transparent
    &__icon-play
        transition: all 0.3s ease
        @media(any-hover:hover)
            &:hover
                transform: scale(1.2)

@media(max-width: 1279px)
    .example
        padding: 64px 0
        &__tab
            flex: 1 1 auto
            min-width: 180px
        &__video
            height: 431px

@media(max-width: 1023px)
    .example
        padding: 40px 0
        &__title
            max-width: 370px
            text-align: center
            margin: 0 auto 64px
        &__tabs
            flex-direction: column
            margin-bottom: 0
        &__tab
            &.active
                .example__tab-video
                    position: relative
                    height: 420px
                    width: 100%
                    opacity: 1
                    visibility: visible
                    pointer-events: all
                    margin: 24px auto 16px
        &__tab-video
            position: fixed
            display: flex
            align-items: center
            justify-content: center
            width: 0
            height: 0
            opacity: 0
            visibility: hidden
            margin: 0 auto
            pointer-events: none
            transition: all 0.5s ease
            border-radius: 32px
            border: 1px solid rgba($gray-dark, 0.2)
            background-color: rgba($gray-light, 0.5)
        &__video
            display: none

@media(max-width: 992px)
    .example
        &__tab
            &.active
                .example__tab-video
                    height: 348px

@media(max-width: 767px)
    .example
        padding: 32px 0
        &__title
            text-align: left
            margin-bottom: 32px
        &__tab
            &.active
                .example__tab-video
                    height: 260px
                    margin: 20px auto 8px
                    border-radius: 16px
        &__icon-play
            width: 56px
            height: 56px

@media(max-width: 576px)
    .example
        &__tab
            &.active
                .example__tab-video
                    height: 180px

@media(max-width: 360px)
    .example
        &__tab
            &.active
                .example__tab-video
                    height: 136px

// SECTION-CONNECTION-BANNER
.connection-banner
    padding: 144px 0 72px
    .banner__text
        max-width: 400px
    .button
        padding: 16px 28px 16px 40px
        min-width: 308px
        &.animated
            animation: bottom-top 0.8s both

@media(max-width: 1279px)
    .connection-banner
        padding: 128px 0 64px

@media(max-width: 1023px)
    .connection-banner
        padding: 80px 0 40px
        .banner__text
            max-width: 570px
        .banner
            max-height: fit-content

@media(max-width: 767px)
    .connection-banner
        padding: 64px 0 32px
        .button
            min-width: 100%

@media(max-width: 360px)
    .connection-banner
        .button .not-mobile
            display: none

// SECTION-CHANNELS
.channels
    padding: 72px 0
    &__info
        display: flex
        justify-content: space-between
        margin-bottom: 80px
    &__title
        margin-right: auto
        &.animated
            animation: bottom-top 0.8s both
    &__subtitle
        display: block
        margin-top: 12px
    &__texts
        display: flex
        justify-content: flex-end
        gap: 32px
    &__text
        padding-top: 8px
        max-width: 262px
        color: $gray-dark
        &.animated
            animation: bottom-top 0.8s both
    &__cards
        display: flex
        flex-wrap: wrap
        column-gap: 12px
        row-gap: 24px
    &__card
        position: relative
        flex: 1 1 32%
        padding: 24px 20px 16px 20px
        border-radius: 24px
        background-color: $gray-light
        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            border-radius: 24px
            background-color: inherit
            transition: all 0.3s ease
        &.animated
            animation: bottom-top 0.8s both
        @media(any-hover:hover)
            &:hover
                &::after
                    transform: scale(1.02)
                .channels__card-icon
                    transform: scale(1.15)
        &:nth-child(1)
            background-color: $blue
        &:nth-child(2)
            background-color: $cyan
        &:nth-child(3)
            background-color: $turquoise
        &:nth-child(4)
            background-color: $turquoise
        &:nth-child(5)
            background-color: $purple
        &:nth-child(6)
            background-color: $blue
            .channels__card-items
                flex-direction: row
            .channels__card-item
                min-width: 124px
    &__card-title
        position: relative
        z-index: 2
        margin-bottom: 32px
        color: $white
        font-family: "RF Dewi Condensed"
        font-size: 28px
        font-weight: 600
        line-height: 32px
        letter-spacing: -0.56px
    &__card-items
        position: relative
        z-index: 2
        display: flex
        flex-wrap: wrap
        flex-direction: column
        gap: 16px
    &__card-subtitle
        color: $white
        font-family: "RF Dewi Condensed"
        font-size: 20px
        font-weight: 600
        line-height: 28px
    &__card-value
        display: flex
        gap: 16px
        color: rgba($white, 0.7)
        font-size: 14px
    &__card-icon
        position: absolute
        z-index: 3
        top: -16px
        left: 20px
        transition: all 0.3s ease
        &.icon-2
            left: 43px
            z-index: 2
        &.icon-3
            left: 66px
            z-index: 1

@media(max-width: 1279px)
    .channels
        padding: 64px 0
        &__info
            flex-direction: column
            text-align: center
            gap: 32px
            margin-bottom: 72px
        &__title
            margin-right: 0
        &__text
            padding-top: 0
            display: inline
        &__texts
            display: block
            margin: 0 auto
            max-width: 712px
        &__card-items
            justify-content: space-between
        &__card
            display: flex
            flex-direction: column
            justify-content: space-between
            min-height: 252px
            &:nth-child(6)
                .channels__card-item
                    min-width: 116px
                    flex: 0 0 25%
        &__card-title
            margin: 0
        &__card-value
            flex-direction: column
            gap: 4px
        .dot
            display: none

@media(max-width: 1023px)
    .channels
        padding: 40px 0
        &__info
            margin-bottom: 64px
        &__card
            flex: 1 1 49%
            &:nth-child(6)
                .channels__card-item
                    flex: 0 1 38%
                    &:nth-child(even)
                        flex: 1 1 auto

@media(max-width: 767px)
    .channels
        padding: 32px 0
        &__info
            gap: 16px
            margin-bottom: 48px
        &__subtitle,
        &__texts
            font-size: 14px
            line-height: 20px
        &__card
            &:nth-child(6)
                .channels__card-item
                    min-width: 100px
                    flex: 1 1 45%
                    &:nth-child(even)
                        flex: 1 1 45%

@media(max-width: 360px)
    .channels
        &__card
            &:nth-child(6)
                .channels__card-item
                    flex: 0 1 30%
                    &:nth-child(even)
                        flex: 0 1 44%

// SECTION-PAYMENTS
.payments
    padding: 72px 0
    &__info
        display: flex
        justify-content: space-between
        margin-bottom: 72px
    &__title
        &.animated
            animation: bottom-top 0.8s both
    &__subtitle
        display: block
        margin-top: 12px
    &__text
        padding-top: 8px
        margin-right: 92px
        max-width: 290px
        color: $gray-dark
        &.animated
            animation: bottom-top 0.8s both
    &__table
        display: flex
        gap: 12px
    &__column
        flex: 1 1 32%
        display: flex
        flex-direction: column
        gap: 12px
        &.animated
            animation: bottom-top 0.8s both
        &:nth-child(1)
            .payments__item:nth-child(3)
                height: 196px
        &:nth-child(2)
            .payments__item:nth-child(1)
                height: 196px
        &:nth-child(3)
            .payments__item:nth-child(2)
                height: 352px
    &__item
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 144px
        padding: 20px
        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            border-radius: 24px
            background-color: rgba($gray-light, 0.2)
            border: 0.5px solid $gray-light
            transition: all 0.3s ease
        @media(any-hover:hover)
            &:hover
                &::after
                    transform: scale(1.02)
                    background-color: rgba($gray-light, 0.4)
    &__systems
        position: relative
        z-index: 2
        display: flex
        flex-direction: column
        gap: 20px
    &__row
        position: relative
        z-index: 2
        display: flex
        align-items: center
        gap: 16px
        font-family: "RF Dewi"
        font-weight: 600
    &__row-values
        display: flex
        flex-direction: column
        gap: 4px
    &__row-value
        display: flex
        gap: 8px
        font-size: 14px
        font-weight: 400
        line-height: 20px
        font-family: "Suisse Int'l"
    &__row-title
        color: $gray-dark

@media(max-width: 1279px)
    .payments
        padding: 64px 0
        &__info
            flex-direction: column
            text-align: center
            gap: 32px
            margin-bottom: 56px
        &__text
            padding: 0
            margin: 0 auto
            max-width: 600px
        &__column
            &:nth-child(1)
                .payments__item:nth-child(3)
                    height: 228px
            &:nth-child(2)
                .payments__item:nth-child(1)
                    height: 228px
            &:nth-child(3)
                .payments__item:nth-child(2)
                    height: 400px
        &__item
            height: 160px
        &__name
            display: block

@media(max-width: 1023px)
    .payments
        padding: 40px 0
        &__info
            margin-bottom: 48px
        &__column
            &:nth-child(1)
                .payments__item:nth-child(3)
                    height: 280px
                    .payments__row:nth-child(1)
                        align-items: flex-start
            &:nth-child(2)
                .payments__item:nth-child(1)
                    height: 228px
                .payments__item:nth-child(2)
                    height: 232px
                    .payments__row:nth-child(2)
                        align-items: flex-start
            &:nth-child(3)
                .payments__item:nth-child(2)
                    height: 472px
        &__item
            height: 180px
            padding: 16px
        &__row-values
            gap: 8px
        &__row-value
            flex-direction: column
            gap: 0

@media(max-width: 767px)
    .payments
        padding: 32px 0
        &__info
            gap: 16px
            margin-bottom: 32px
        &__subtitle,
        &__text
            font-size: 14px
            line-height: 20px
        &__table
            flex-direction: column
        &__column
            align-items: center
            &:nth-child(1)
                .payments__item:nth-child(3)
                    height: 228px
                    .payments__row:nth-child(1)
                            align-items: center
            &:nth-child(2)
                .payments__item:nth-child(1)
                    height: 228px
                .payments__item:nth-child(2)
                    height: 176px
                    .payments__row:nth-child(2)
                            align-items: center
            &:nth-child(3)
                .payments__item:nth-child(2)
                    height: 296px
        &__item
            min-width: 100%
            height: 160px
            padding: 20px
        &__row-values
            gap: 4px
        &__row-value
            flex-direction: row
            gap: 8px

// SECTION-CONFIDENCE-BANNER
.confidence-banner
    padding: 72px 0
    .banner
        max-height: 464px
        background-position: 114% 83%
    .banner__text
        display: flex
        flex-direction: column
        gap: 24px
    .banner__paragraph:nth-child(1)
        max-width: 564px
    .banner__paragraph:nth-child(2)
        max-width: 478px
    .button
        &.animated
            animation: bottom-top 0.8s both

@media(max-width: 1279px)
    .confidence-banner
        padding: 64px 0
        .banner
            max-height: 424px
            background-position: -68% 91%
        .banner__paragraph:nth-child(1),
        .banner__paragraph:nth-child(2)
            max-width: 460px

@media(max-width: 1023px)
    .confidence-banner
        padding: 40px 0
        .banner
            max-height: fit-content
            background-position: 73% 97%
        .banner__paragraph
            margin: 0 auto
            &:nth-child(1)
                max-width: 566px

@media(max-width: 767px)
    .confidence-banner
        padding: 32px 0
        .banner
            background-position: 74% 79%
        .banner__text
            gap: 20px
        .button
            width: 100%
            padding: 16px 18px 16px 24px

// SECTION-PARTNERS
.partners
    padding: 72px 0
    &__title
        margin-bottom: 16px
        text-align: center
        &.animated
            animation: bottom-top 0.8s both
    &__text
        margin-bottom: 64px
        color: $gray-dark
        text-align: center
        &.animated
            animation: bottom-top 0.8s both
    &__table
        display: flex
        gap: 12px
    &__cards
        flex: 1 1 67%
        display: flex
        flex-wrap: wrap
        gap: 12px
    &__statistics
        flex: 1 1 33%
        display: flex
        flex-direction: column
        gap: 12px
    &__card
        flex: 1 1 32%
        display: flex
        align-items: center
        justify-content: center
        height: 112px
        border-radius: 20px
        border: 0.5px solid $gray-light
        background-color: rgba($gray-light, 0.2)
        &.animated
            animation: bottom-top 0.8s both
    &__statistics-item
        padding: 20px
        border-radius: 24px
        &.animated
            animation: bottom-top 0.8s both
        &:nth-child(1)
            background-color: $blue
        &:nth-child(2)
            background-color: $turquoise
    &__statistics-icon
        margin-bottom: 32px
    &__statistics-info
        color: $white
    &__statistics-percent
        margin-top: 24px
        color: $white
        font-family: "RF Dewi Condensed"
        font-size: 112px
        font-weight: 600
        line-height: 100%

@media(max-width: 1279px)
    .partners
        padding: 64px 0
        &__text
            margin-bottom: 56px
        &__cards
            flex: 1 1 auto
        &__card
            flex: 1 1 30%
        &__statistics
            flex: 0 0 306px
        &__statistics-percent
            margin-top: 16px
            font-size: 88px
        &__statistics-icon
            margin-bottom: 16px

@media(max-width: 1023px)
    .partners
        padding: 40px 0
        &__text
            margin: 0 auto 48px
            max-width: 440px
        &__statistics
            flex: 0 0 263px

@media (min-width: 768px) and (max-width: 1023px)
    .partners
        &__card
            height: 118px
            &:nth-child(1) img
                width: 68px
                height: 33px
            &:nth-child(2) img
                width: 88px
                height: 18px
            &:nth-child(3) img
                width: 77px
                height: 31px
            &:nth-child(4) img
                width: 56px
                height: 56px
            &:nth-child(5) img
                width: 88px
                height: 39px
            &:nth-child(6) img
                width: 100px
                height: 28px
            &:nth-child(7) img
                width: 105px
                height: 30px
            &:nth-child(8) img
                width: 96px
                height: 13px
            &:nth-child(9) img
                width: 112px
                height: 25px
            &:nth-child(10) img
                width: 74px
                height: 51px
            &:nth-child(11) img
                width: 112px
                height: 20px
            &:nth-child(12) img
                width: 103px
                height: 25px

@media(max-width: 767px)
    .partners
        padding: 40px 0 32px
        &__text
            font-size: 14px
            line-height: 20px
            margin-bottom: 32px
        &__table
            flex-direction: column
        &__cards
            flex-direction: column
        &__card
            flex: 1 1 100%
            min-height: 129.66px

// SECTION-SUPPORT
.support
    padding: 72px 0 144px
    &__body
        display: flex
        align-items: flex-start
        justify-content: space-between
        gap: 64px
    &__title
        margin-bottom: 16px
        max-width: 466px
        &.animated
            animation: bottom-top 0.8s both
    &__subtitle
        margin-bottom: 24px
        max-width: 313px
        color: $gray-dark
        &.animated
            animation: bottom-top 0.8s both
    &__links
        display: flex
        gap: 8px
        &.animated
            animation: bottom-top 0.8s both
    &__link
        display: flex
        align-items: center
        gap: 10px
        padding: 8px 16px 8px 12px
    &__suggestions
        display: flex
        flex-direction: column
        gap: 16px
    &__suggestion
        display: flex
        min-width: 553px
        max-height: 104px
        gap: 20px
        padding: 16px 24px 16px 16px
        border-radius: 24px
        outline: 0.5px solid $gray-light
        background-color: rgba($gray-light, 0.2)
        &.animated
            animation: bottom-top 0.8s both
        &:nth-child(1)
            .support__suggestion-icon
                background-color: $cyan
        &:nth-child(2)
            .support__suggestion-icon
                background-color: $turquoise
    &__suggestion-icon
        display: flex
        width: 72px
        height: 72px
        padding: 16px
        justify-content: center
        align-items: center
        border-radius: 20px
    &__suggestion-text
        color: $gray-dark
        max-width: 421px

@media(max-width: 1279px)
    .support
        padding: 64px 0 122px
        &__title
            min-width: 424px
        &__subtitle
            margin-bottom: 72px
        &__suggestion
            min-width: auto
            max-height: fit-content

@media(max-width: 1023px)
    .support
        padding: 40px 0 80px
        &__body
            flex-direction: column
            gap: 48px
        &__info
            text-align: center
            margin: 0 auto
        &__title
            min-width: auto
            max-width: 400px
        &__subtitle
            margin: 0 auto 24px
        &__links
            justify-content: center
        &__suggestions
            flex-direction: row
        &__suggestion
            flex: 1 1 49%
            flex-direction: column
            justify-content: space-between
            align-items: center
            min-height: 220px
            padding: 24px 20px 16px
        &__suggestion-text
            max-width: 100%
            text-align: center
            font-size: 14px
            line-height: 20px

@media(max-width: 767px)
    .support
        padding: 32px 0 64px
        &__body
            gap: 40px
        &__subtitle
            font-size: 14px
            line-height: 20px
        &__links
            flex-wrap: wrap
            max-width: 240px
            margin: 0 auto
        &__suggestions
            flex-direction: column
        &__suggestion
            font-size: 14px
            line-height: 20px
            min-height: fit-content

@media(max-width: 480px)
    .support
        &__suggestion
            padding: 16px

// SECTION-APPLICATION
.application
    padding: 72px 0
    background-color: $blue
    &__body
        display: flex
        align-items: flex-start
        justify-content: space-between
        padding: 80px 104px
        border-radius: 40px
        background-color: $white
        box-shadow: 0px 6px 34px 0px rgba($black, 0.12)
        background-image: url('../assets/img/background/spiral.svg')
        background-repeat: no-repeat
        background-position: 16px 0
        gap: 240px
    &__info
        flex: 0 0 322px
    &__form
        flex: 1 1 auto
        &.animated
            animation: bottom-top 0.8s both
        .icon-right
            margin: 0
    &__title
        margin-bottom: 16px
        &.animated
            animation: bottom-top 0.8s both
    &__subtitle
        color: $gray-dark
        display: flex
        flex-direction: column
        gap: 12px
        margin-bottom: 98px
        &.animated
            animation: bottom-top 0.8s both
    &__links
        display: inline-flex
        flex-direction: column
        gap: 8px
        &.animated
            animation: bottom-top 0.8s both
    &__link
        display: flex
        align-items: center
        gap: 10px
        padding: 8px 16px 8px 12px
    &__groups
        display: flex
        flex-direction: column
        gap: 32px
        margin-bottom: 40px
    &__agreement
        margin-top: 16px
        color: $gray-dark
        font-size: 12px
        line-height: 18px
        max-width: 372px

@media(max-width: 1279px)
    .application
        padding: 64px 0
        &__body
            padding: 48px
            gap: 94px

@media(max-width: 1023px)
    .application
        padding: 40px 0
        &__body
            padding: 24px
            gap: 56px
        &__agreement
            max-width: 282px
        &__subtitle
            margin-bottom: 116px

@media(max-width: 767px)
    .application
        padding: 32px 0
        &__body
            flex-direction: column
            gap: 48px
        &__info
            text-align: center
            flex: 1 1 100%
            width: 100%
        &__links
            flex-direction: row
        &__subtitle
            font-size: 14px
            line-height: 20px
            margin-bottom: 32px
        &__agreement
            text-align: center
            max-width: 100%
        .button
            margin: 0 auto

@media(max-width: 576px)
    .application
        &__body
            padding: 24px 16px
        &__links
            flex-direction: column
        .button
            min-width: 100%
            padding: 16px 32px
            svg
                display: none

// FOOTER
.footer
    padding: 56px 0
    &__body
        display: flex
        align-items: flex-start
        justify-content: space-between
    &__info
        padding-right: 56px
    &__copy
        margin-top: 64px
        font-size: 14px
        line-height: 20px
        color: $gray-dark
    &__navigation
        display: flex
        gap: 56px
    &__navigation-list
        display: flex
        flex-direction: column
        gap: 12px
        &:nth-child(1)
            min-width: 156px
        &:nth-child(2)
            min-width: 264px
    &__navigation-item
        font-size: 14px
        line-height: 20px
    &__navigation-link
        position: relative
        display: inline-block
        color: $black
        transition: all 0.3s ease
        @media(any-hover:hover)
            &:hover
                color: $blue
                .footer__navigation-icon
                    opacity: 1
                    visibility: visible
                    right: -30px
    &__navigation-icon
        position: absolute
        right: -25px
        opacity: 0
        visibility: hidden
        pointer-events: none
        transition: all 0.3s ease
    &__buttons
        .button
            min-width: 218px

.socials
    display: flex
    justify-content: flex-end
    gap: 8px
    margin-bottom: 28px
    &__link
        display: flex
        align-items: center
        justify-content: center
        width: 44px
        height: 44px
        background-color: rgba($gray-light, 0.3)

@media(max-width: 1279px)
    .footer__navigation
        gap: 0

@media(max-width: 1023px)
    .footer
        padding: 80px 16px 40px
        &__body
            flex-wrap: wrap
            row-gap: 40px
        &__info
            flex: 1 1 100%
            display: flex
            justify-content: space-between
            align-items: flex-end
            padding: 0
        &__copy
            margin-top: 0

@media(max-width: 767px)
    .footer
        padding: 56px 0 32px
        &__body
            row-gap: 32px
        &__info
            flex-direction: column
            align-items: flex-start
            gap: 12px
        &__navigation
            flex: 1 1 100%
            gap: 12px
        
    .socials
        justify-content: flex-start

@media(max-width: 576px)
    .footer
        &__navigation
            flex-direction: column
        &__buttons
            flex: 1
            .button
                min-width: 100%
    
    .socials
        margin-bottom: 12px
        justify-content: space-between
        &__link
            flex: 1
            height: 40px

// Анимация
@keyframes bottom-top
    0%
        transform: translateY(10%)
        opacity: 0
    100%
        transform: translateY(0)
        opacity: 1

@keyframes bottom-top-long
    0%
        transform: translateY(30%)
        opacity: 0
    100%
        transform: translateY(0)
        opacity: 1

@keyframes flare
    0%
        left: -200%
    100%
        left: 200%

@keyframes bubble
    0%
        transform: translateY(-10%)
        opacity: 0
    25%
        opacity: 1
        transform: translateY(0)
    50%
        opacity: 1
        transform: translateY(-5%)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes rotation
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@keyframes shake
    0%
        transform: translateX(0)
    25%
        transform: translateX(6px)
    50%
        transform: translateX(0px)
    100%
        transform: translateX(6px)

// Переносы
.br
    display: block

@media(max-width: 1025px)
    .br-max-1025
        display: block

@media(max-width: 400px)
    .br-max-400
        display: block

@media(max-width: 360px)
    .br-max-360
        display: block

@media(max-width: 767px)
    .br-max-767
        display: block

@media(max-width: 1025px)
    .br-max-1025
        display: block

@media(min-width: 767px)
    .br-min-767
        display: block

@media(min-width: 1023px)
    .br-min-1023
        display: block

@media(min-width: 1280px)
    .br-min-1280
        display: block

@media(min-width: 1026px)
    .br-min-1026
        display: block

@media (min-width: 480px) and (max-width: 768px)
    .br-min-480-max-768
        display: block

// Сброс обводки
*
    -webkit-touch-callout: none
    -webkit-text-size-adjust: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    -webkit-user-select: none